<%- include('../partials/head') %>
    <link rel="stylesheet" href="assets/css/index.css">
    <title>Inbox</title>
</head>
<body>
    <div id="wrapper">
        <header class="flex justify-between my-1 p-4">
            <a href="./archive.html"><img src="assets/images/inbox-black.svg" alt="back" class="inbox"></a>
            <h1 class="section-header">Newsbox</h1>
            <a href="./settings.html"><img src="assets/images/Settings-black.svg" alt="settings" class="settings"></a>
        </header>

        <section class="search-box">
            <input type="search" name="search" class="input-search p-1 m-4 pl-4" placeholder="Search news">
            <img src="assets/images/search.png" alt="search" class="search-img">
        </section>

        <main>
            <section class="category">
                <div class="category-top flex py-4">
                    <div class="circle shadow-lg">
                        <img src="assets/images/icn_surfing.png" alt="surfing">
                    </div>
                    <h2 class="ml-4 mt-1">Europe</h2>
                    <img src="assets/images/arrow-black.svg" alt="back" class="category-arrow arrow mt-2">                      
                </div>

                <section class="news-hide hide">
                    <div class="news grid gap-1 py-4">
                        <img src="assets/images/other-img.png" alt="man surfing" class="surfing-circle">
                        <h3 class="card-title">Headline</h3>
                        <p class="body-copy-small">Lorem ipsum dolor sit amet consectetur, adipisicing elit...</p>   
                        <div class="archive">
                            <img src="assets/images/inbox-white.svg" alt="put in archive">
                        </div>
                    </div>

                    <div class="news grid py-4">
                        <img src="assets/images/other-img.png" alt="man surfing" class="surfing-circle">
                        <h3 class="card-title">Headline</h3>
                        <p class="body-copy-small">Lorem ipsum dolor sit amet consectetur, adipisicing elit...</p>                    
                        <div class="archive">
                            <img src="assets/images/inbox-white.svg" alt="put in archive">
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
    <script src="./assets/js/arrows.js"></script>
    <script src="./assets/js/themeChange.js"></script>

<%- include('../partials/last') %>