<%- include('../partials/head') %>
    <link rel="stylesheet" href="assets/css/settings.css">
    <title>Settings</title>
</head>
<body>
    <div id="wrapper">
        <header>
            <img src="assets/images/arrow-black.svg" alt="back">
            <h1>News settings</h1>
        </header>
        <main>
            <h4>Manage</h4>
            <h5>Categories</h5>
            <section class="manage-categories">
                <div class="europe">
                    <h6>Europe</h6>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label> 
                </div>
                
            </section>
        </main>
    </div>
<%- include('../partials/last') %>