header{
    border-bottom:solid 2px var(--grey-color);
    align-items: center;
    background-color: var(--background-color);
    color:var(--text-color);
    img{
        height: 20px;
        width: 20px;
    }
}